<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
         <section name="System_tray_incon_for_notifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
     </sectionGroup>
 </configSections>
 <appSettings>
		<add key="ServerIP" value="192.168.60.436"/>
	</appSettings>
<userSettings>
  <System_tray_incon_for_notifications.Properties.Settings>
   <setting name="IP" serializeAs="String">
    <value>192.168.60.36</value>
   </setting>
  </System_tray_incon_for_notifications.Properties.Settings>
 </userSettings>
</configuration>